* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------------------*/
/* Start Css Code [Ahmed Lotfy] */

/* End Css Code [Ahmed Lotfy] */
/*----------------------------------*/

/**********************************************/
/**********************************************/

/*-----------------------------------*/
/* Start Css Code [ Taha ] */

/* End Css Code [ Taha ] */
/*----------------------------------*/

/**********************************************/
/**********************************************/

/*-----------------------------------*/
/* Start Css Code [ AYA ] */

/* End Css Code [ AYA ] */
/*----------------------------------*/

/**********************************************/
/**********************************************/

/*-----------------------------------*/
/* Start Css Code [ Badawy ] */

/* End Css Code [ Badawy ] */
/*----------------------------------*/
